@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;

  svg {
    color: $subTitle;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  p {
    color: $subTitle;
    font-size: 10px;
    margin-top: 8px;
    transition: color 0.3s ease;
  }

  &:hover {
    transform: scale(1.05);

    svg {
      color: $skillsColor;
      transform: scale(1.2);
    }

    p {
      color: $skillsColor;
    }
  }
}
